
@{
    Layout = null;
}






<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- SEO Meta Tags -->
    <meta name="description" content="Tivo is a HTML landing page template built with Bootstrap to help you crate engaging presentations for SaaS apps and convert visitors into users.">
    <meta name="author" content="Inovatik">

    <!-- OG Meta Tags to improve the way the post looks when you share the page on LinkedIn, Facebook, Google+ -->
    <meta property="og:site_name" content="" /> <!-- website name -->
    <meta property="og:site" content="" /> <!-- website link -->
    <meta property="og:title" content="" /> <!-- title shown in the actual shared post -->
    <meta property="og:description" content="" /> <!-- description shown in the actual shared post -->
    <meta property="og:image" content="" /> <!-- image link, make sure it's jpg -->
    <meta property="og:url" content="" /> <!-- where do you want your post to link to -->
    <meta property="og:type" content="article" />

    <!-- Website Title -->
    <title>Admin Giriş</title>

    <!-- Styles -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700&display=swap&subset=latin-ext" rel="stylesheet">
   

    <link href="~/AdminLTE-3.0.4/web/css/bootstrap.css" rel="stylesheet" />
    <link href="~/AdminLTE-3.0.4/web/css/fontawesome-all.css" rel="stylesheet" />
    <link href="~/AdminLTE-3.0.4/web/css/magnific-popup.css" rel="stylesheet" />
    <link href="~/AdminLTE-3.0.4/web/css/styles.css" rel="stylesheet" />
    <link href="~/AdminLTE-3.0.4/web/css/swiper.css" rel="stylesheet" />




    <!-- Favicon  -->
    <link rel="icon" href="images/favicon.png">
</head>
<body data-spy="scroll" data-target=".fixed-top">

    <!-- Preloader -->
    <div class="spinner-wrapper">
        <div class="spinner">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
    </div>
    <!-- end of preloader -->
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
        <div class="container">

            <!-- Text Logo - Use this if you don't have a graphic logo -->
            <!-- <a class="navbar-brand logo-text page-scroll" href="index.html">Tivo</a> -->
            <!-- Image Logo -->
            <h3 style="color:white">Onur Acarsoy</h3>

            <!-- Mobile Menu Toggle Button -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-awesome fas fa-bars"></span>
                <span class="navbar-toggler-awesome fas fa-times"></span>
            </button>
            <!-- end of mobile menu toggle button -->

            <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link page-scroll" href="Home/HomePage/">Ana Sayfa <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link page-scroll" href="/Default/Headings/">Sözlük</a>
                    </li>


                    <!-- Dropdown Menu -->
                    <!-- end of dropdown menu -->


                </ul>
                <span class="nav-item">
                    <a class="btn-outline-sm" href="/Login/WriterLogin">Giriş Yap</a>
                </span>
                <span class="nav-item">
                    <a class="btn-outline-sm" href="/Register/WriterRegister/">Kayıt Ol</a>
                </span>
            </div>
        </div> <!-- end of container -->
    </nav> <!-- end of navbar -->
    <!-- end of navigation -->
    <!-- Header -->
    <header id="header" class="ex-2-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1>Hoş Geldin ADMİN</h1>
                    @*<p>You don't have a password? Then please <a class="white" href="sign-up.html">Sign Up</a></p>*@
                    <!-- Sign Up Form -->
                    <div class="form-container">
                        @using (Html.BeginForm("Index", "Login", FormMethod.Post))
                        {
                            <div class="form-group">
                                <input type="text" class="form-control-input" placeholder="Kullanıcı Adı" name="AdminUserName" required>
                              
                                <div class="help-block with-errors"></div>
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control-input"placeholder="Şifre" name="AdminPassword" required>
                                
                                <div class="help-block with-errors"></div>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="form-control-submit-button">Giriş Yap</button>
                            </div>
                            <div class="form-message">
                                <div id="lmsgSubmit" class="h3 text-center hidden"></div>
                            </div>
                        }
                            </form>
                        </div> <!-- end of form container -->
                    <!-- end of sign up form -->

                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </header> <!-- end of ex-header -->
    <!-- end of header -->
    <!-- Scripts -->
  

    <script src="~/AdminLTE-3.0.4/web/js/bootstrap.min.js"></script>
    <script src="~/AdminLTE-3.0.4/web/js/jquery.easing.min.js"></script>
    <script src="~/AdminLTE-3.0.4/web/js/jquery.magnific-popup.js"></script>
    <script src="~/AdminLTE-3.0.4/web/js/jquery.min.js"></script>
    <script src="~/AdminLTE-3.0.4/web/js/popper.min.js"></script>
    <script src="~/AdminLTE-3.0.4/web/js/scripts.js"></script>
    <script src="~/AdminLTE-3.0.4/web/js/swiper.min.js"></script>
    <script src="~/AdminLTE-3.0.4/web/js/validator.min.js"></script>

</body>
</html>
