
@{
    Layout = null;
}
<link href="~/AdminLTE-3.0.4/404page/css.css" rel="stylesheet" />

<!-- about -->
<!-- end about -->


<section class="wrapper" style="background-color: #5f4dee;">

    <div class="container">

        <div id="scene" class="scene" data-hover-only="false">


            <div class="circle" data-depth="1.2"></div>

            <div class="one" data-depth="0.9">
                <div class="content">
                    <span class="piece"></span>
                    <span class="piece"></span>
                    <span class="piece"></span>
                </div>
            </div>

            <div class="two" data-depth="0.60">
                <div class="content">
                    <span class="piece"></span>
                    <span class="piece"></span>
                    <span class="piece"></span>
                </div>
            </div>

            <div class="three" data-depth="0.40">
                <div class="content">
                    <span class="piece"></span>
                    <span class="piece"></span>
                    <span class="piece"></span>
                </div>
            </div>

            <p class="p404" data-depth="0.10">Merhaba</p>
            <p class="p404" data-depth="0.10">Merhaba</p>

        </div>

        <div class="text">
            <article>
                <p>Sizin için henüz çalışma aşamasındayım en kısa sürede kayıt ol hizmeti sunacağım. <br> Sabrın için teşkkürler.<br />Aşağıya basarak ana sayfaya dönebilirsin.</p>
                <button><a href="/Home/HomePage/">Ana Sayfaya Dön</a></button>
            </article>
        </div>

    </div>
</section>

<script src="~/AdminLTE-3.0.4/404page/js.js"></script>
@*<script src="https://cdnjs.cloudflare.com/ajax/libs/parallax/3.1.0/parallax.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>*@


